
.back {
    background-color: rgb(83, 80, 80);
    border: 2px solid white;
    width: 30%;
    margin: 20px auto;
    
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    width: 220px;
    font-size: 15px;
    display: block;
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
    margin: 40px;
    box-shadow:inset 0 1px 10px 2px #373333;
  }
  
  div {
    text-align: center;
  }

  .logo-wrapper{
    position: relative;
    /* z-index: 2; */
  }

  .logo-wrapper .fa {
    position: absolute;
    top: 7px;
    left: 10px;
    font-weight: bold;
    font-style: normal;
    width: 30px;
    height: 30px;
  }

.name {
    width: 220px;
    display: block;
    border: 1px solid #000;
    padding: 5px 5px 5px 45px;
    height: 30px;
    background: url(https://static.wixstatic.com/media/200fe1_06ce139451b6433d95342587d4542c01.png) no-repeat 0 1px ;
    background-size: auto 95%;
    border-radius: 25px;
    background-color:transparent;
    box-shadow:inset 0 1px 10px 2px #373333;
    
    
}

.tel {
 width: 220px;
display: block;
border: 1px solid #000;
padding: 5px 5px 5px 45px;
height: 30px;
background: url(https://pngimg.com/uploads/phone/phone_PNG48995.png) no-repeat 0 -10px;
border-radius: 25px;
background-size: auto 150%;
margin: 10px auto;
box-shadow:inset 0 1px 10px 2px #373333;
}



.submit {
    
    text-align: center;
    background: rgb(23,160,230);
    background: radial-gradient(circle, rgba(23,160,230,1) 13%, rgba(70,153,252,1) 94%);
    border-radius: 25px;
    border-style: solid;
    border:none;
    width: 272px;
    height: 40px;
    color: white;
    margin: 10px auto;
    box-shadow: 0 1px 10px 2px #373333;
}



.tel::placeholder {
    color: rgb(145, 136, 136);
}

.email::placeholder {
    color:rgb(145, 136, 136);
}

.text::placeholder {
    color:rgb(145, 136, 136);
}

.name:focus {
    outline: none;
}

.tel:focus {
    outline: none;
}

